<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.demo.BookMapper">
    <insert id="addBook" parameterType="com.demo.Book">
        INSERT into book (name,author) values (#{name},#{author})
    </insert>

    <delete id="deleteBookById" parameterType="int">
        delete from book where id = #{id}
    </delete>

    <update id="updateBookById" parameterType="com.demo.Book">
        update book set name = #{name},author = #{author} where id = #{id}
    </update>

    <select id="getBookById" parameterType="int" resultType="com.demo.Book">
        select * from book where id = #{id}
    </select>

    <select id="getAllBooks" resultType="com.demo.Book">
        select * from book
    </select>
</mapper>